<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/find}" th:object="${user}" method="post">
		<table>
			<tr>
				<td>Id:</td>
				<td><input type="text" th:field="*{id}" /></td>
				
			</tr>
			<tr>
				<td>Username:</td>
				<td><input type="text" th:field="*{username}" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" th:field="*{password}" /></td>
				
			</tr>
			<tr>
				<td><button type="submit">Submit post</button></td>
			</tr>
		</table>
		
		<div><a href="/">Home</a></div>
	</form>
</body>
</html>