<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
<title>Home</title>
</head>
<body>
	<h1>Select options:</h1>
	<div><a href="/form">Add new user</a></div>
	<div><a href="/all">Display all users</a></div>
	<div><a href="/find">Find user</a></div>
	<div><a href="/update">Update user</a></div>
</body>
</html>