<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
<title>All users</title>
</head>
<body>

<table>
    <tr>
        <th>Id</th>
        <th>username</th>
        <th>Password</th>
    </tr>
<tr th:each="user : ${now}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
</tr>
</table>
<p></p>
<div><a href="/">Home</a></div>
</body>
</html>