<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<form action="#" th:action="@{/update}" th:object="${user}" method="post">
    	<p th:text="'id: ' + ${user.id}" />
    	<p th:text="'id: ' + ${user.username}" />
    	<p th:text="'Password: ' + ${user.password}" />
    	
    </form>
    <br></br>
    <a href="/update"><h1>Update</h1></a>
	
    <p></p>
    <h3>What you want to do?</h3>
    <div><a href="/find">Search another User</a></div>
    <div><a href="/">Home</a></div>
</body>
</html>