<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
<title>Insert title here</title>
</head>
<body>
	<h1>SUBMIT SUCCESSFUL</h1>
	<h2>What you want to do?</h2>
    <div><a href="/form">Submit another User Form</a></div>
    <div><a href="/">Home</a></div>
</body>
</html>