<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	
	
    <p th:text="'id: ' + ${user.id}" />
    <p th:text="'Username: ' + ${user.username}" />
    <p th:text="'Password: ' + ${user.password}" />
    <br></br>
    
    <p> Zaktualizuj użytkownika</p>
    <br></br>
        	<form action="#" th:action="@{/update}" th:object="${user}" method="post">
		<table>
<tr>
				<td>Id:</td>
				<td><input type="text" th:field="*{id}" /></td>
			</tr>
			<tr>
				<td>Username:</td>
				<td><input type="text" th:field="*{username}" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" th:field="*{password}" /></td>
				
			</tr>
			<tr>
				<td><button type="submit">Submit post</button></td>
			</tr>
		</table>
	</form>
    	
    <div><a href="/">Home</a></div>
</body>
</html>